@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
}

.title img {
    width: 60%;
}

.title h1 {
    color: #006C70;
}

.title a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #006C70;
    color: aliceblue;
    border-radius: 10px;
    border: 0;
}
