@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
}


.title h1 {
    font-weight: 400;
    color: #002CC1;
}

.title a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #002CC1;
    color: aliceblue;
    border-radius: 10px;
    border: 0;
}
.title img {
    width: 60%;
}

.content {
    margin-top: 100px;
    height: 400px;
    vertical-align: middle;

}
.content img {
    float: right;
    height: 100%;
    vertical-align: middle;
}

.text {
    display: inline;
}
.content p {
    font-size: 24px;
    width: 60%;
    vertical-align: middle;
    margin-left: 20px;
    color:#002CC1
}
